[Unit]
Description=Performance mode for ENERGY_PERF_BIAS
After=graphical.target

[Service]
Type=oneshot
ExecStart=/usr/bin/x86_energy_perf_policy performance

[Install]
WantedBy=multi-user.target
