[Desktop Entry]
Comment[en_US]=
Comment=
Exec=flameshot
GenericName[en_US]=
GenericName=
Icon=flameshot
MimeType=
Name[en_US]=Flameshot
Name=Flameshot
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-GNOME-Autostart-enabled=true
X-KDE-SubstituteUID=false
X-KDE-Username=
